body { background-color: #7c7171;
       background-image: linear-gradient(to bottom, #f0e3e3c4, #7c7171);
       background-repeat: no-repeat; 
       color: #ffffff;
	   font-family: Georgia, 'Times New Roman', Times, serif;
}

#wrapper { background-color: #7c7171;
           margin-left: auto;
           margin-right: auto;
		   width: 80%;
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 3px 3px 3px #777;
}
header { background-color: #7c7171;
         background-image: url(/img/header.jpg);
		 background-position: right;
		 background-repeat: no-repeat;
         color: #00ffea;
		 font-family: Georgia, 'Times New Roman', Times, serif;
		 height: 72px;
}
h1 { text-align: center;
     padding-top: .5em; }
h2 { color: #00ffea;
     font-family: Georgia, 'Times New Roman', Times, serif; 
}
h3 { font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(70, 0, 0); }
nav { font-weight: bold; 
	  padding-top: .5em;
	  padding-right: .5em;
	  padding-bottom: .5em;
	  text-align: center;
}
nav a { text-decoration: none; }
main { padding-left: 2em;
       padding-right: 2em;
       display: block; }
dt { color: #00ffea;
     font-weight: bold;
}
.exclusive { color: #00ffea;
          font-size: 1.2em;
}
#homehero { height: 300px;
            background-image: url(img/first.jpg); 
  			background-repeat: no-repeat;
            background-size: 100% 100%; }

#glowhero { height: 300px;
            background-image: url(img/glow.jpg);
  			background-repeat: no-repeat;
            background-size: 100% 100%; }
            
#collectionshero { height: 300px;
            background-image: url(img/collections.jpg);
  			background-repeat: no-repeat;
            background-size: 100% 100%; }	

footer { font-size: .90em;
         font-style: italic;
		 text-align: center;
		 padding: 1em;
          
}